@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.animate-blink {
  animation: blink 1s step-start infinite;
}

@keyframes fadeInOut {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    10%, 90% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-10px);
    }
  }
  
  .animate-fadeInOut {
    animation: fadeInOut 3s ease-in-out forwards;
  }
  